PORT=5000
NODE_ENV=development
MONGODB_URI=
MONGODB_DB_NAME=ruet_cse
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=ruet-cse/students
CORS_ORIGIN=http://localhost:5173
MAX_IMAGE_SIZE_BYTES=5242880
